<?xml version="1.0"?>
<model>
  <name>Rod</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Gowtham Garimella</name>
    <email>garimella.gowtham74@gmail.com</email>
  </author>


  <description>
    A cylindrical rod which fits in the holes of table
  </description>

</model>
