<?xml version="1.0"?>
<model>
  <name>Model City</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Gowtham Garimella</name>
    <email>garimella.gowtham74@gmail.com</email>
  </author>
  <description>
    The model used in here is downloaded from:
    https://3dwarehouse.sketchup.com/model.html?id=ef41575e9d9e46b64fb1d9a9b8854179
    The author for the original model is: Abid
  </description>
</model>
