<?xml version="1.0"?>
<model>
  <name>Satellite</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Gowtham Garimella</name>
    <email>garimella.gowtham74@gmail.com</email>
  </author>


  <description>
    Satellite Model with 8 thrusters 3d control
  </description>

</model>
