<?xml version="1.0"?>

<model>
  <name>matlabcamera</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <name>Gowtham Garimella</name>
    <email>nate@osrfoundation.org</email>
		<email>ggarime1@jhu.edu</email>
  </author>

  <description>
    A simple camera with a box for visualization (with added matlab plugin)
  </description>
</model>
