<?xml version="1.0"?>

<model>
  <name>Water Scene</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Gigimus</name>
    <email>https://github.com/gigimus/gazebo-auv-sim/blob/master/gazebo-plugins/singapore_scena.dae</email>
  </author>

  <description>
    A simple water scene from https://github.com/gigimus/gazebo-auv-sim/blob/master/gazebo-plugins/singapore_scena.dae
  </description>
</model>
