<?xml version="1.0"?>
<model>
  <name>Thruster</name>
  <version>1.0</version>
  <sdf version="1.4">thruster.sdf</sdf>

  <author>
    <name>Gowtham Garimella</name>
    <email>garimella.gowtham74@gmail.com</email>
  </author>


  <description>
    Thruster is just a cone with very low inertia
  </description>

</model>
