<?xml version="1.0"?>

<model>
  <name>Traxxas RC car</name>
  <version>1.0</version>
  <sdf version="1.3">rccar.sdf</sdf>
  <sdf version="1.4">rccar.sdf</sdf>

  <author>
    <name>Gowtham Garimella</name>
    <email>garimella.gowtham74@gmail.com</email>
  </author>


  <description>
    A model of the Traxxas RC car.
  </description>

</model>
