<?xml version="1.0"?>
<launch>
  <!--include file="$(find gazebo_ros)/launch/empty_world.launch"-->
  <!--arg name="world_name" value="$(find gazeboplugin_gcop)/worlds/traxxas_test.world"/-->
  <!--arg name="world_name" value="$(find gazebo_rosmatlab_bridge)/worlds/scene5.world"/-->
  <arg name="scene" default="scene6"/>
  <arg name="loadparams" default="true"/>
  <arg name="world_name" default="$(find gazebo_rosmatlab_bridge)/worlds/$(arg scene).world"/>
  <!--arg name="params" default="$(find gazebo_rosmatlab_bridge)/worlds/$(arg scene).yaml"/>
  <group if="$(arg loadparams)">
    <rosparam command="load" file="$(arg params)"/>
  </group-->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" args=" $(arg world_name)" output="screen">
    <!--param name="max_update_rate" type="double" value="100.0"/-->
    <!-- Increase this for faster than real time-->
    <!--param name="time_step" type="double" value="0.01"/-->
  </node>
  <!--node name="gazebo_rosmatlab_bridge" pkg="gazebo_rosmatlab_bridge" type="gazebo_rosmatlab_bridge_node" output="screen"/-->
</launch>
